main {
  overflow: hidden;
  max-width: $sz-max-width;
  width: 100%;
  margin: 0 auto;
  padding: 8rem $sz-padding 4rem;

  @include bp(small) {
    padding: 5rem $sz-padding 1rem;
  }
}

header + * {
  transition: {
    property: transform, filter;
    duration: 400ms;
    timing-function: ease-in-out;
  }
}

.is-blurred {
  transform: scale(.95);
}
